pact-broker:
  broker:
    config:
      basicAuth:
        enabled: false

  database:
    adapter: postgres
    host: pb-db-postgresql
    port: "5432"
    databaseName: pactbroker
    auth:
      username: pactbroker
      password: pactbrokerpass
