# UAT environment overrides for unikorn-pact-broker
# Usage: helm upgrade --install pact-broker . --values values-uat.yaml

pact-broker:
  broker:
    # following the same pattern as the API for the URL and hosts
    baseUrl: "https://pact.nks-stg.europe-west2.nscale.com"

    config:
      basicAuth:
        enabled: true
        username: pact
        password: "pact"

      # Allow contract modification in UAT
      allowDangerousContractModification: true
      databaseClean:
        enabled: true
        mode: embedded
        keepVersionSelectors:
          - maxAge: 30
        schedule: "0 3 * * *"
  database:
    postgresql:
      enabled: true
      auth:
        password: "postgres"
        database: pactbroker
        username: postgres
      persistence:
        enabled: true
        size: 5Gi
  ingress:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-staging
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    hosts:
      - host: pact.nks-stg.europe-west2.nscale.com
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: pact-broker-uat-tls
        hosts:
          - pact.nks-stg.europe-west2.nscale.com

  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 128Mi

  replicaCount: 1
